{{ partial "header" . }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<h4 style="display:inline">{{ .Title }}</h4>
<a class="fa fa-info-circle u-pull-right" data-bind="click: function(){showInfo(!showInfo())}" style="cursor: pointer"></a><br/>
<form class="six columns" style="margin-left: 0">
  <div class="row">
    <label class="radio">
      <input type="radio" name="unit" value="kg" data-bind="checked: wilks.unit"><span class="label-body">kg</span>
    </label>&nbsp;&nbsp;
    <label class="radio">
      <input type="radio" name="unit" value="lb" data-bind="checked: wilks.unit"><span class="label-body">lb</span>
    </label>
  </div>
  <div class="row">
    <label class="radio">
      <input type="radio" name="sex" value="F" data-bind="checked: wilks.sex"><span class="label-body">F</span>
    </label>&nbsp;&nbsp;
    <label class="radio">
      <input type="radio" name="sex" value="M" data-bind="checked: wilks.sex"><span class="label-body">M</span>
    </label>
  </div>
  <div class="row">
    <input class="u-full-width" type="number" placeholder="bodyweight" data-bind="value: wilks.bw">
  </div>
  <div class="row"><hr/></div>
  <div class="row">
    <input class="u-full-width" type="number" placeholder="total" data-bind="value: wilks.total">
  </div>
  <div class="row">or</div>
  <div class="row">
    <div class="four columns">
      <input class="u-full-width" type="number" placeholder="squat" data-bind="value: wilks.squat">
    </div>
    <div class="four columns">
      <input class="u-full-width" type="number" placeholder="bench" data-bind="value: wilks.bench">
    </div>
    <div class="four columns">
      <input class="u-full-width" type="number" placeholder="deadlift" data-bind="value: wilks.deadlift">
    </div>
  </div>
  <div class="row">
    <input class="button-primary" type="submit" value="Calculate" data-bind="click: calculate">
  </div>
  <div style="display: none" data-bind="visible: results().length > 0">
    Results
    <ul data-bind="foreach: results">
      <li><span data-bind="text: prettyInput"></span> = <b><span data-bind="text: wilks"></span></b>
      </li>
    </ul>
  </div>
</form>
<div class="six columns" style="display: none" data-bind="visible: showInfo">
  <p>The wilks coefficient is used to compare powerlifters of different bodyweights.</p>
  <img src="https://latex.codecogs.com/gif.latex?\dpi{120}&space;Coeff&space;=&space;\frac{500}{a&space;&plus;&space;bx&space;&plus;&space;cx^2&space;&plus;&space;dx^3&space;&plus;&space;ex^4&space;&plus;&space;fx^5&space;}" title="Coeff = \frac{500}{a + bx + cx^2 + dx^3 + ex^4 + fx^5 }" />
  <p>x is the lifter's bodyweight in kg. To get the wilks score, we multiply the weight lifted in kg by the coefficient.</p>
  <div class="six columns" style="margin-left: 0">
    <p>Values for men:</p>
<pre><code>a=-216.0475144
b=16.2606339
c=-0.002388645
d=-0.00113732
e=7.01863E-06
f=-1.291E-08</code></pre>
  </div>
  <div class="six columns">
    <p>Values for women:</p>
<pre><code>a=594.31747775582
b=-27.23842536447
c=0.82112226871
d=-0.00930733913
e=4.731582E-05
f=-9.054E-08</code></pre>
  </div>
<script type="text/javascript" src="../js/wilks.js"></script>
{{ partial "footer.html" . }}
