{{ partial "header" . }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<h4 style="display:inline">{{ .Title }}</h4>
<a class="fa fa-info-circle right" data-bind="click: function(){showInfo(!showInfo())}" style="cursor: pointer"></a><br/>
<div>
  <form class="six column">
    <div class="row">
      <label class="radio">
        <input type="radio" name="unit" value="kg" data-bind="checked: wilks.unit"><span class="label-body">kg</span>
      </label>&nbsp;&nbsp;
      <label class="radio">
        <input type="radio" name="unit" value="lb" data-bind="checked: wilks.unit"><span class="label-body">lb</span>
      </label>
    </div>
    <div class="row">
      <label class="radio">
        <input type="radio" name="sex" value="F" data-bind="checked: wilks.sex"><span class="label-body">F</span>
      </label>&nbsp;&nbsp;
      <label class="radio">
        <input type="radio" name="sex" value="M" data-bind="checked: wilks.sex"><span class="label-body">M</span>
      </label>
    </div>
    <div class="row">
      <input class="u-full-width" type="number" placeholder="bodyweight" data-bind="value: wilks.bw" autofocus>
    </div>
    <div class="row"><hr/></div>
    <div class="row">
      <input class="u-full-width" type="number" placeholder="total" data-bind="value: wilks.total">
    </div>
    <div class="row">or</div>
    <div class="row">
      <div class="four column">
        <input class="u-full-width" type="number" placeholder="squat" data-bind="value: wilks.squat">
      </div>
      <div class="four column">
        <input class="u-full-width" type="number" placeholder="bench" data-bind="value: wilks.bench">
      </div>
      <div class="four column">
        <input class="u-full-width" type="number" placeholder="deadlift" data-bind="value: wilks.deadlift">
      </div>
    </div>
    <div class="row">
      <button class="button button-primary" type="submit" data-bind="click: calculate">Calculate</button>
    </div>
    <div style="display: none" data-bind="visible: results().length > 0">
      Results
      <ul data-bind="foreach: results">
        <li><span data-bind="text: prettyInput"></span> = <span data-bind="text: wilks" style="font-weight:600"></span>
        </li>
      </ul>
    </div>
  </form>
  <div class="six column" style="display: none" data-bind="visible: showInfo">
    <p>The wilks coefficient is used to compare powerlifters of different bodyweights.</p>
    <img src="../images/wilks.gif" title="Coeff = \frac{500}{a + bx + cx^2 + dx^3 + ex^4 + fx^5 }" height="45" width="350" alt="wilks coeff formula" />
    <p>x is the lifter's bodyweight in kg. To get the wilks score, we multiply the weight lifted in kg by the coefficient.</p>
    <div>
      <div class="six column">
        <p>Values for men:</p>
        <pre><code data-bind="text: displayCoeff(m)"></code></pre>
      </div>
      <div class="six column">
        <p>Values for women:</p>
        <pre><code data-bind="text: displayCoeff(f)"></code></pre>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../js/wilks.js"></script>
{{ partial "footer.html" . }}
