{{ partial "header" . }}
<main>
  <div class="text-center">
    <br />
    <h3>Emily Lin</h3>
    <div class="row">
      <img src="images/me.jpg" height="200" width="200">
    </div>
    <br/>
    <div class="row">
      <a href="https://instagram.com/emilyytlin" class="fa fa-instagram fa-5x" style="color: #000" ></a>
      <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
      <a href="https://github.com/emilyytlin" class="fa fa-github fa-5x" style="color: #000" ></a>
    </div>
    <br/>
    <img class="resize" src="images/pls_no.png" />
  </div>
</main>
{{ partial "footer" . }}
