{{ partial "header" . }}
<div class="text-center">
  <br />
  <h3>Emily Lin</h3>
  <div class="row">
    <img src="images/me.jpg" height="700" width="700" style="max-width:200px;max-height:200px" alt="me">
  </div>
  <div class="row">
    <a href="https://instagram.com/emilyytlin" style="color: #000" title="instagram.com/emilyytlin"><span class="fa fa-instagram fa-5x"></span></a>
    <span>&nbsp; &nbsp; &nbsp;</span>
    <a href="https://github.com/emilyytlin" style="color: #000" title="github.com/emilyytlin"><span class="fa fa-github fa-5x"></span></a>
  </div>
  <div class="row">
    <h5><code>emily@<span class="sekrit">GARBAGE</span>linbarbell<span class="sekrit">more garbage</span>.com</code></h5>
  </div>
</div>
{{ partial "footer" . }}
