{{ partial "header" . }}
<div class="text-center">
  <br />
  <h3>Emmett Lin</h3>
  <div class="row">
    <img src="images/me.jpg" style="max-width:200px;max-height:200px" alt="me">
  </div>  
  <div class="row">
  	<a href="https://instagram.com/linbarbell" style="color: #000" title="instagram.com/linbarbell"><span class="fa fa-instagram fa-5x"></span></a>	
    <span>&nbsp; &nbsp; &nbsp;</span>
    <a href="https://github.com/linbarbell" style="color: #000" title="github.com/linbarbell"><span class="fa fa-github fa-5x"></span></a>	
    <span>&nbsp; &nbsp; &nbsp;</span>
    <a href="/Emmett Lin - Resume.pdf" style="color: #000" title="resume"><span class="fa fa-file-text-o fa-5x"></span></a>
  </div>
  <div class="row">
    <h5><code>emmett@<span class="sekrit">GARBAGE</span>linbarbell<span class="sekrit">more garbage</span>.com</code></h5>
  </div>
</div>
{{ partial "footer" . }}
